html {
    position: relative;
    min-height: 100%;
}
body {
/ Margin bottom by footer height /
margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
/ Set the fixed height of the footer here /
height: 60px;

}
.marketing-box{margin-bottom: 100px;}
.top-right-btn-widht-auto {
    width: auto !important;
}
a.title-icon {
    width: auto;
    min-width: 98px;
    padding: 10px 30px 0px 0!important;
}
.dropdown-menu {
    float: right;
    right: 0;
    left: auto;
}
label.error {
    color: #ED544D;
    font-size: 13px;
    margin-top: -9px;
}
.ui-widget-header{color: #333 !important;}
nav.navbar li:last-child a {  padding-right: 0 !important;  }
.bg_pages{
    background:#fff url(../images/bg_pages.jpg) no-repeat top center!important;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.navbar-nav>li>a.active {
    color: #ed1c24;
    background: none;
}

a.upload_button {
    background: #ed1c24 url(../images/icon_upload.png) 15px center no-repeat;
    background-color: #ed1c24 !important;
    height: 35px;
    border-radius: 0;
    outline: none;
    border: 0;
    float: left;
    padding: 10px 15px 0 35px !important;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}
.file_previw_wrap ul {
    margin: 0;
    padding: 0;
}
.file_previw_wrap li .delete_btn {
    float: right;
    background: url(../images/delete.png) no-repeat;
    background-size: 27px;
    border: none;
    text-indent: -999px;
    overflow: hidden;
    width: 28px;
    height: 28px;
    cursor: pointer;
}
.file_previw_wrap li {
    list-style: none;
    padding-left: 0;
    margin: 12px 0;
    color: #333;
    border-bottom: 1px dotted #CECBCB;
    padding-bottom: 7px;
    font-weight: bold;
}
label.file_upload_label {
    background: url(../images/add.png) no-repeat;
    background-size: auto 100%;
    display: block;
    padding: 8px 0 5px 35px;
    cursor: pointer;
}
input#fileupload_control {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 90px;
    cursor: pointer;
}
input[type="file"]:hover{cursor: pointer;}
.profile-lable input[type="checkbox"]{ float: left;     margin-right: 10px;  width: 20px;  height: 20px;}
.border-top{  border-top: 1px solid #ddd; }
.grey-text{color: #7D7D7C;}
p.grey-text.register_form {  padding-top: 10px;  }
.z-index-0{z-index: 0;}
.table_package {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
table.table_package tr th {
    text-align: center;
    padding: 10px 0;
}
table.table_package tr td {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    text-align: center;
}
table.table_package tr td:first-child{border-left: 1px solid #ddd;}
table.table_package tr:first-child th{border-bottom: 1px solid #ddd;}
table.table_package tr:hover td input[type="radio"]{
    transform:scale(1.2);
    cursor: pointer;
}
table.table_package tr.selected td {
    background-color:#EAEAEA;text-shadow:none;
}
table.table_package tr:hover td {
    cursor: pointer;
    background-color:#EAEAEA;text-shadow:none;
    transform:scale(1, 1.2);
}
.error.package_error {
    float: right;
    display: none;
}
.fileupload_control_wrap button{cursor: pointer;}
.text-left {  margin-left: -1px;  }
.nav>li>a{padding-right: 0;}
.about_our_soft_wrap {
    display: inline-block;
    width: 66%;
}
.cms_page_content_wrap h2 {
    margin-top: 0;
}
.cms_page_content_wrap img {
    width: 100%;
}
.cms_page_content_wrap table td p{text-align: center;}
.cms_page_content_wrap table td {text-align: center;}
.cms_page_content_wrap table td img{width: 40%; margin: 2px;}
.home_news_setion {
    position: relative;
    min-height: 1px;
    float: left;
    width: 100%;
    margin-bottom: -5px;
    padding-top: 30px;
    margin-top: 15px;
    border-top: 1px dashed #ccc;
}
.home_news_setion h2{
    color: #ed1c24;
    font-size: 25px;
    font-family: 'colaborate-mediumregular';
    margin-top: 0;
}
.home_news_setion .flexslider{
    height: 50px;
}
.home_news_setion .flexslider .slides > li > a > span:hover{text-decoration: underline;}
.home_news_setion .flexslider .slides > li > a > span{
    font-size: 14px; color: #ed1c24;
}
.home_news_setion .flexslider .slides > li{
    position: relative;
    font-size: 15px;
    line-height: 20px;
    color: #464646;
    text-align: left;
    font-family: inherit;
}
.home_news_setion .flexslider .slides > li > a:hover{text-decoration: none;}
.news_list_page a.news_title {  color: #ED1C24;  font-weight: bold;  }
.news_list_page li{margin: 20px 0; text-align: justify;}
.news_list_page li:first-child{margin-top: 0;}
a.read_more {  color: #ED1B24;  }
.pagination>li.active_li a {  font-weight: bold;  }
.pagination>li a {  color: red;  font-weight: normal;  }
.pagination{margin: 0;}
.news_head h2 {  float: left;  text-transform: uppercase; margin-bottom: 0;}
.news_head a {
    /* float: left; */
    font-size: 15px;
    font-family: 'colaborate-mediumregular';
    margin-top: 4px;
    margin-left: 10px;
    padding-left: 10px;
    border-left: 2px solid #333;
    line-height: 20px;
    display: inline-block;
    vertical-align: top;
}
td.package-table-col-1 {  width: 15%; font-size:16px;  }
td.package-table-col-2 {  padding: 10px 10px !important;  }
td.package-table-col-3 {  width: 10%; font-size:16px; }
td.package-table-col-4 {  width: 10%;  }
.package_details_wrap{text-align: left;}
span.package_details_box{display: inline-block; width: 49%; text-align: left; vertical-align: top;}
ul#myTabs>li>a{    padding: 10px 12px;}
.video_wrap {  width: 60%;  margin: 0 auto;  }
h2.page-title-popup.grey {  color: #333;  }
.popup-wrap p {  padding-right: 5px;  }
span.register_alt_txt {  font-size: 12px;  font-family: 'colaborate-regularregular';  }
.plain_page_wrap {  padding: 0 1.5% 0 2.5%;  }
a.margin_left button {  margin-left: 5px;  }
.register-form .form-control[readonly]{ background: #fff;}
@media (min-width: 768px) {
    .top-menu-custom-wrap {
        background: #ed1c24;
        height: 50px;
    }

    .top-menu-custom-wrap ul li a {
        color: #fff; font-size: 20px; text-transform: uppercase;     line-height: 26px;
    }

    .top-menu-custom-wrap .navbar-nav > li > a.active {
        color: #fff;
        /*text-decoration: underline;*/
    }
    .top-menu-custom-wrap .navbar-nav>li{
        padding-top: 6px;
        padding-bottom: 4px;
        display: inline;
        margin: 6px 0 0;
        float: left;
        line-height: 34px;
        position: relative;
    }
    .top-menu-custom-wrap .nav>li>a{    padding-right: 12px;}
    .top-menu-custom-wrap .navbar-nav>li:last-child:after{display: none}
    .top-menu-custom-wrap .navbar-nav>li:after{
        content: "";
        width: 1px;
        float: left;
        background: #fff;
        height: 43%;
        position: absolute;
        right: 0px;
        top: 11px;
    }
    /*.top-menu-custom-wrap .navbar-nav>li>a:hover, .top-menu-custom-wrap .navbar-nav>li>a.active{color: #333;}*/
    .top-menu-custom-wrap .navbar-nav>li:first-child>a{margin-left: 0;}
    .top-menu-custom-wrap .navbar-nav>li>a:focus{outline: none;}
    .top-menu-custom-wrap .navbar-nav>li>a{
        padding-top: 0;
        padding-bottom: 0;
        margin: 0 15px;
        border-radius: 4px;
    }
    .top-menu-custom-wrap .navbar-nav{float: left; margin-left: 0;}
    .top-menu-custom-wrap .navbar-collapse{padding-left: 0;}
    .top-menu-custom-wrap .container{padding-left: 0 !important;}
    .footer-box-border{border-bottom: #ed1c24 solid 5px;}
    .home_news_setion .flexslider {  margin-top: 0.3em;  }
    #cboxLoadedContent .popup-wrap {  padding: 0 15px 0 20px;  }
    .homepage-slider .bold-slider, .homepage-slider .bold-slider strong{font-weight: bold !important; font-size: 50px !important;}
    .homepage-slider span{font-size: 40px !important;}
    .homepage-slider.flexslider .slides > li{color: #000;}
    .how-it-work-box .col-lg-4,.cms_page_wrap .col-lg-4{padding-right: 25px;  padding-left: 25px;}
    .row.how-it-work-box, .row.cms_page_wrap{margin-left: -27px;}
    .row.how-it-work-box .text-left, .row.cms_page_wrap .text-left{    margin-left: 7px;}
    .text-left {
        margin-left: -3px;
    }
}
.top-menu-custom-wrap .navbar-nav>li>a:hover:after, .top-menu-custom-wrap .navbar-nav>li>a.active:after{left: 12px;  right: 12px;}
.top-menu-custom-wrap .navbar-nav>li>a:after{
    position: absolute;
    content: '';
    bottom: 0.2em;
    left: 50%;
    right: 50%;
    border-bottom: 1px solid #fff;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
select:first-child
{
    color:gray;
}
.zeebra-form .form-group {  padding-left: 12px;  }
.zeebra-form select{margin-bottom: 0 !important;}
p.grey-text.register_form {
    padding-top: 10px;
    font-size: 14px;
    line-height: 14px;
}
.login-note-margin-botm{margin-bottom: 20px;}
.register-btn-wrap p.register_form {  float: left;  }
.register-btn-wrap .update-profile-btn {  margin-bottom: 0;  }
p.posword-box.quick-title {  margin-bottom: 13px;  }
p.posword-box:first-child.quick-title {  margin-bottom: 10px;  }
.bold-text{font-weight: bold;}