@charset "utf-8";
/* CSS Document */
.body-img {background:url(../images/body-img.jpg) no-repeat top  center !important;-moz-background-size: cover;-webkit-background-size: cover;-o-background-size: cover;background-size: cover;}
.logo-brand { padding-left:0;padding-right:0; /*margin-top:10px;*/}
.left-peding-none { padding-right:0; padding-left:0px;}
.spreter-red { border-bottom:1px solid #ed1c24;}
.top-right-btn { float:right; width:220px;border:1px solid #ed1c24; position:relative; z-index:1; margin-top:19px; height:37px; }
.top-right-btn-widht-auto { width:auto!important}
.top-right-btn a { float:left; font-size:16px; color:#ed1c24; height:35px; line-height:37px; font-family: 'colaborate-boldregular'; text-transform:uppercase;}
.login { background:url(../images/login.jpg) 0 0 no-repeat; width:97px; text-indent:36px; padding:10px 0 0px 0!important}
.register {background:url(../images/register.jpg) 0 0 no-repeat #ed1c24; width:121px; text-indent:36px; color:#fff!important;}
.top-right-btn a:hover { text-decoration:none;}
.marketing-box { margin-top:40px; }
.how-it-work-box { background:url(../images/how-it-work.png) 50% 120px no-repeat;}
.how-it-work-box  h2 { margin-top:50px; text-align:center; color:#ed1c24; font-size:25px;font-family: 'colaborate-mediumregular'; margin-bottom:245px;}
.how-it-work-box p { text-align:justify;}
.how-it-work-box p span { color:#ed1c24; font-size:18px; text-align:center; width:100%; float:left; font-family: 'colaborate-boldregular';}
.footer-box { float:left; /*border-top:#ed1c24 solid 5px;*/ width:100%; margin-top:25px; /*padding-top:20px;*/ padding-bottom:11px;}
ul.navigation { float:left; list-style:none; padding:0;} 
ul.navigation li { float:left;} 
ul.navigation li a { color:#000000; font-size:15px;font-family: 'colaboratelightregular'; margin-right:18px; line-height:20px;} 
ul.navigation li a:hover { text-decoration:none; color:#ed1c24;}
ul.navigation li a.active { color:#ed1c24;}
.footer-box p { color:#000000; font-size:15px;font-family: 'colaboratelightregular'; float:right;}
.footer-box p a {color:#000000;}
.footer-box p a:hover { text-decoration:none; color:#ed1c24;}
.right-peding-none { padding-right:0!important;}
ul.about-list { float:left; list-style:none; padding:0; width:100%;}
ul.about-list li { float:left; width:100%;font-family: 'colaborate-regularregular'; line-height:20px; font-size:16px; color:#464646; text-align:justify;margin:0 0 10px; background:url(../images/about-arow.png) 5px 5px no-repeat; padding-left:20px;}
.devider-25px { margin-top:25px; float:left; width:100%;}
.red-text { color:#ed1c24;}
.sent-btn { background:url(../images/sent-btn.jpg) top no-repeat; width:96px; height:35px; text-indent:-5000px; border-radius:0; outline:none; border:0; float:left;}
.sent-btn:hover { background-position:bottom;}
.posword-box { float:left; width:100%; margin:0 0 5px 0;}
.posword-box a { float:right; color:#ed1c24}
.sign-in {  background: #ed1c24 url(../images/icon_forget.png) 15px center no-repeat;


height: 35px;

border-radius: 0;
    outline: none;
    border: 0;
    float: left;
    margin-bottom: 20px;
    padding: 0 15px 0 40px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}
.sign-in:hover { background-color:#333;}
.social-link { float:left; width:100%; margin-bottom:10px;}
.social-link a { float:left; width:215px; background:url(../images/facebook.jpg) 20px 0 no-repeat #3b5998; height:40px; text-indent:54px; line-height:43px; color:#fff;font-family: 'colaboratelightregular'; font-size:18px; border-radius:10px;}
.linkdine { background:url(../images/linkdin.jpg) 20px 0 no-repeat #2876b4!important;}
.font-light {font-family: 'colaboratelightregular';}
.social-link a:hover { text-decoration:none;}
.login-btn-header { float:left; margin-top:-35px; margin-left:121px; padding:0; }
.login-btn-header-two { float:left;margin-left:0px; padding:0;}
.login-btn-header:hover { background:#fff!important;}
ul.bradcram { float:left; list-style:none; padding:0; width:100%;}
ul.bradcram li { float:left; color:#464646;font-family: 'colaboratelightregular'; font-size:16px; margin-right:10px;}
ul.bradcram li a { float:left; color:#ed1c24; background: url(../images/breadcrambg.png) right no-repeat; padding-right:15px;}
.border-bottom { border-bottom:1px solid #ddd; padding-bottom:15px;}
.peding-left-none { padding-left:0;}
.profile-lable label { padding-top:6px; margin-bottom: 0;}
.profile-lable input { margin-bottom:0px;}
.select_style select {
	width:100%;
	background:url(../images/select_style-bg.jpg) right no-repeat #ffffff;
	height:33px;
	outline:none;
	color:#464646;
	font-size:16px;
	padding-left:10px;
	font-family: 'colaborate-regularregular';
	border:1px solid #ccc;
	text-indent: 0.01px;
	text-overflow: '';
	margin-bottom:10px;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}
select::-ms-expand {
    display: none;
}
.update-profile-btn { float:left; padding:0 15px; text-align:center; height:35px; color:#fff; background:#ed1c24; border:0; margin-top:25px; margin-bottom:25px; font-family: 'colaborate-boldregular'; text-transform:uppercase; font-size:16px;}
.update-profile-btn:hover { background:#464646;}
ul.font-18px li a { font-size:18px!important;}
.title-icon { background:url(../images/title-icon.jpg) 90% 17px no-repeat!important; text-indent:15px;}
.border-left { border-left:1px solid #ddd}

@media (max-width:991px){
.logo-brand {padding-left:15px;padding-right:15px;}
.left-peding-none { padding-right:15px;padding-left:15px;}
.nav>li>a { margin-left:0; text-align:center;}
.how-it-work-box { background:none;}
.how-it-work-box h2 { margin-bottom:10px;}
.how-it-work-box img { margin-bottom:20px; margin-top:20px;}
.nav>li>a { padding:20px 10px 5px 10px!important;}
.flexslider .slides > li { font-size:40px!important; line-height:45px!important;}
.flexslider .slides > li span {font-size:40px!important;}
.flexslider {height:auto!important;}
.login-btn-header { padding:0 0 0px 0!important;}
ul.login-btn-header li a { padding:10px 0 0 0!important; text-indent:10px;}
/*.title-icon  { margin-top:-7px; text-indent:-10px!important; line-height:37px!important;}*/
.login-btn-header-two {/* width:120px;*/ padding:0;padding:0!important;margin:0!important;}
.border-left { border-left:0!important;}
.nav>li>a.upload_button{padding:10px 15px 0 35px !important}
.nav>li>a.title-icon{padding:10px 30px 0px 0!important}
}
@media (max-width:767px){
.flexslider .slides > li { font-size:25px!important; line-height:30px!important;}
.flexslider .slides > li span {font-size:25px!important;}
.how-it-work-box h2 { margin-bottom:10px;}
.flexslider {height:auto!important;}
.footer-box p { float:left;}
.peding-left-none { padding-left:0; padding-right:0;}
.social-link a { width:100%!important}
.border-left { border-left:0!important;}
span.package_details_box, .about_our_soft_wrap{width:100%!important}
.table-col-4, .cms_page_content_wrap{display:none!important}
}
html {
    position: relative;
    min-height: 100%;
}
body {
/ Margin bottom by footer height /
margin-bottom: 60px;
background:url(../images/body-bg.jpg) no-repeat top  center fixed;-moz-background-size: cover;-webkit-background-size: cover;-o-background-size: cover;background-size: cover;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
/ Set the fixed height of the footer here /
height: 60px;

}
h2.page-title-popup {
    color: #ed1c24;
}