@charset "utf-8";
/* CSS Document */

.dataTables_wrapper > .row{
	margin-bottom:10px !important;
}
.required{
	color:#b94a48 !important;
	font-weight:bold;
}
img.brandLogo {
    float: left;
    height: 53px;
    margin-left: 20px;
    background-color: #fff;
    padding: 7px;
}
.btn-primary {
    background: #d61117;
    background-image: -webkit-linear-gradient(top, #d61117, #f06368);
    background-image: -moz-linear-gradient(top, #d61117, #f06368);
    background-image: -ms-linear-gradient(top, #d61117, #f06368);
    background-image: -o-linear-gradient(top, #d61117, #f06368);
    background-image: linear-gradient(to bottom, #d61117, #f06368);
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border-color: #D91C21;
    border-bottom: 1px solid #EE5C61;
}

.btn-primary:hover {
    background: #f06368;
    background-image: -webkit-linear-gradient(top, #f06368, #d61117);
    background-image: -moz-linear-gradient(top, #f06368, #d61117);
    background-image: -ms-linear-gradient(top, #f06368, #d61117);
    background-image: -o-linear-gradient(top, #f06368, #d61117);
    background-image: linear-gradient(to bottom, #f06368, #d61117);
    text-decoration: none;
    border-color: #EE5C61;
    border-bottom: 1px solid #D91C21;
}
.navbar {
    background: #333;
    background-image: -webkit-linear-gradient(top, #333, #565555);
    background-image: -moz-linear-gradient(top, #333, #565555);
    background-image: -ms-linear-gradient(top, #333, #565555);
    background-image: -o-linear-gradient(top, #333, #565555);
    background-image: linear-gradient(to bottom, #333, #565555);
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    /*border-radius: 4px;*/
    font-family: Arial;
    color: #ffffff;
    /*font-size: 20px;*/
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border-color: #333;
    border-bottom: 1px solid #565555;
}

.navbar:hover {
    background: #565555;
    background-image: -webkit-linear-gradient(top, #565555, #333);
    background-image: -moz-linear-gradient(top, #565555, #333);
    background-image: -ms-linear-gradient(top, #565555, #333);
    background-image: -o-linear-gradient(top, #565555, #333);
    background-image: linear-gradient(to bottom, #565555, #333);
    text-decoration: none;
    border-color: #333;
    border-bottom: 1px solid #565555;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{background-color: #333;}
a {
    color: #E3393E;
}
.language-selector{
    padding: 5px 10px;
}
.language-selector select{
    border: none; height: 26px;
}
.dataTables_filter label input {
    margin-left: 5px;
}
.dataTables_filter label {
    float: right;
}