.jcarousel-skin-tango .jcarousel-container {
}

.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 960px;
	z-index:9999999 !important;
	padding:0px;
	margin-top:30px;
	margin-bottom:70px;
	
}
.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width: 960px;
    height:225px;
	margin-left:0px;
	
}
.jcarousel-skin-tango .jcarousel-item {
    width:225px;
    height:225px; 
	margin:0 20px 0 0px;
	
}

.jcarousel-skin-tango .jcarousel-item img {border-radius:8px;}


.jcarousel-skin-tango .jcarousel-item-horizontal:hover {
opacity:0.7;
filter:alpha(opacity=70); /* For IE8 and earlier */
	
}



.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	
}


.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top:-65px;
    right: 0px;
    width:40px;
    height:40px;
    cursor: pointer;
    background:url(../images/arow.png) top  right no-repeat;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
   
}


.jcarousel-skin-tango .jcarousel-next-horizontal:active {
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top:-65px;
    right:50px;
    width:40px;
    height:40px;
    cursor: pointer;
    background:url(../images/arow.png) top  left no-repeat;}
 
 

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover {}
.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
}
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
}

