@media screen and (max-width: 900px) {

body{overflow-x:hidden}	
.hidden_banner{display:none}
.main-wraper{width:96%; margin:0 2%;}
.registration_left{padding:20px;}
.header, .container, .container{width:100%; margin:0}	
.dealer-link{position:relative; z-index:9999}
#search-engines{z-index:9999}
.account-field-col{width:100%;}
.alert {
    width: 96%;
    padding: 10px 2%;
}
.post-field-col{display:inline-block; width:100%!important; margin-left:0}
.display-hidden {
    display: none;
}
img{max-width:100%;}

.featured-border, #ca-container, .row{width:100%; margin-left:0}

.gallery-box-mail{width:92%; max-width:590px; height:inherit; padding:20px 4%}

.banner-left{margin-bottom:20px;}

.free-ad-margin {

    margin-top: 38px;

    float: left!important;

    margin-left: 4px!important;

}

.banner{background-size:auto 100%;}

.submit-box p{width:100%}

.logo{

    float: right;
z-index:999;
    position: absolute;

    top: 0px; text-align:left

}

.submit-box {

    float: right; margin-top:8px; margin-bottom:8px;  

    text-align: right;

}

.free-aad a, .logo a{    margin-left: 0px!important; text-align:center;

    display: inline-block; float:none}

.red-greadint{height:inherit;background-size:auto 100%; display:inline-block; vertical-align:top; width:100%; padding-bottom:15px;}

.form-control{width:94%; padding-left:6%;}	

.city-box, .search-box{width:100%; margin-bottom:5px; margin-left:0; margin-right:0}

.category-box{width:100%; margin-bottom:5px; margin-left:0; }

.category-box select, .search-btn a{border-radius: 5px;}

.category-box select{background: url(../images/cate-icon01.jpg) right no-repeat #fff;}

.search-btn a{background:url(../images/red-gradient.jpg) repeat-x;}

.search-icon{border-radius: 5px; border:none}



.search-advnce a{margin-top:8px}

.banner{padding:20px 0; text-align:center}

.img-ad-box{float:none; margin:0px auto 0}

.ca-item-main{display:inline-block; position:relative !important}

.banner-left.banner-left-mobile{

	float: none;

    display: inline-block;

    text-align: left;

}

.ca-nav span.ca-nav-next{right:0!important}

.featured-border{margin-top:20px;}

.view-all-btn a{margin-top:31px;}

.col-cate-md-4{display:inline-block; float:none; margin:47px 10px 0;min-height:240px; height:inherit}
.page_content .col-cate-md-4 ul{position:relative}

.browse-categories .row{text-align:center}

.browse-categories{height:inherit; display:inline-block;     background:#000 url(../images/brows-cate-bg.jpg) center top fixed no-repeat; padding-bottom:30px;}

ul.tabs{margin-top:20px;background: url(../images/border1px.jpg) 0 33px repeat-x;height: 35px;}

ul.tabs li a{font-size: 15px;padding: 0px 16px;height: 40px;line-height: 33px;}

.tab_content .col-cate-md-4{margin-top:0px; margin-bottom:20px; height:inherit;}

.tab_content{text-align:center}

.col-md-4{height:inherit; padding-bottom:20px;}

.center-box-free-ad{width:100%; text-align:center; margin-top:25px; margin-bottom:90px;}

.col-md-6, .col-md-aboutus.col-md-6{width:100%; margin-top:30px}

.socail-link-box{margin-left:0px;}

.bottom-col{height:inherit; display:inline-block; width:100%; background:#000 url(../images/footer-bg01.jpg) center top no-repeat;}

.left-box-field{width:50%}

.heading_h1_aboutbold, .heading_h1_about, .leadership_h1{font-size:30px; line-height:32px;}

.leadership_h1{margin-top:20px;}

.about_img img{margin-bottom:15px;}

.about_img{margin-bottom:20px;}

.about_left, .about_right{max-width:100%;}

.leadship_div li{display:inline-block; width:100%; float:none; max-width:200px; margin:0 10px 20px;}

.support_div_email{font-size:30px;padding-top:20px; margin-top:20px; line-height:32px;}

.support_div_email h3{line-height:28px;font-size:26px;}

.banner-list-search{width:92%; padding:20px 4%; background:#fff; border-radius:15px;height:inherit}

.list_category li{width:50%; text-align:left}

.banner-list-search input{margin-bottom:10px;padding: 10px 2%; width: 96%;

    margin-right: 0!important; float:left}

.banner-list-search input.width_160{width:44%;}

.banner-list-search input.margin_right{float:right}

.banner-list-search input.width_160.margin_none{ width: 96%;}

.banner-list-search h1{font-size:20px;padding-bottom:15px;}

.banner.list-banner {

    padding-bottom: 20px;

}

.product_deatils{margin-top:20px;}

.product_feature li{width:48%;}

.product_list{padding:20px}

.pages_right{float:none; margin:0 auto}

.pagination_div{margin-top:10px; margin-bottom:20px;}

.pages{margin:25px 0 15px}

.pages_left{float:none; margin:0 auto 20px;clear:both; text-align:center}

.page_heading2, .registration_left h2{text-align:center}

.registration_fb_login{float:none; display:inline-block; min-height:inherit; padding-bottom:20px; margin-bottom:20px;}

.registration_login{float:none; display:inline-block; min-height:inherit; padding-bottom:20px;}

.registration_or{margin:0 0 20px; display:inline-block; width:100%;}

}



@media screen and (max-width: 600px) {

.submit-box{text-align:center; margin-top: 75px;}

.logo{top: 15px; width:100%;text-align:center; left:0}

.form-control{width:92%; padding-left:8%;}	

.col-cate-md-4{margin-left:0; margin-right:0}

.center-box-free-ad p span{font-size:20px;}

.left-box-field{width:100%;}

.socail-link-box{margin-top:10px;}

.browse-categories .featured-border{font-size:20px; padding-top:8px}

.featured-icon{top:inherit; bottom:87px;z-index:9999}

.ca-item-main, .tab_content .col-cate-md-4{width:100%!important}

.col-md-4, .col-md-4 img{width:100%; position:relative}

.col-md-4 .featured-icon img, .col-md-4 .featured-icon-tabs img{width:auto}

.featured-icon-tabs{position:absolute; bottom:87px; z-index:999; width:100%;}

.product_feature li{width:100%;}

.product_feature.border_li_none li{margin-bottom: 5px;

    border-bottom: 1px solid #ccc;}

.product_image{max-width:100%;}

.product_image img{width:100%}



.input_div2{}

.border_div{clear:both}

.right-top-header .free-aad a{background: url(../images/free-aad01.png) no-repeat; width:230px; text-align:center}

.mail-field{border-radius:0;width:70%; line-height:33px;}

.submit-btn a{width:24%;/*border-bottom:1px solid #ed1f24;border-top:1px solid #ed1f24*/ padding-bottom:4px;}

}

@media screen and (max-width: 680px){

.input_div2 input, .input_div2 textarea, .input_div input{width:96%; padding:12px 2%; max-width:inherit}	

.input_div label, .input_div2 label, .registration_login label{text-align:left}

.heading_span{margin:0 0 10px 0;}

.select_category ul{float:left}

.select_category ul li{

    margin: 0 2% 10px;

    min-height: 85px;

    width: 29%;

}

.upload_images_ul li{

    margin: 0 2% 10px;

    width: 46%;

}

.selling-heaing {

    margin-left: 0px;

    text-align: center;

}

.free-aad{display:inline-block}

.gallery-box-mail .free-aad a{background: url(../images/free-aad01.png) no-repeat; width:230px; text-align:center}

.input_div select.days{max-width:inherit;width:18%; padding:12px 2%; margin-right:2%;}

.input_div select.months{max-width:inherit;width:48%; padding:12px 2%; margin-right:2%;}

.input_div select.years{max-width:inherit;width:30%; padding:12px 2%; }

.round_arrow_mob{position:absolute; left:115px; top:85px; background:url(../images/arroe_mobile_top.png) center top no-repeat;width:45px; height:67px;}

.round_arrow_mob01{position:absolute; left:115px; top:100px; background:url(../images/arroe_mobile_top.png) center top no-repeat;width:45px; height:67px;}

.rounded-box{position:relative;display:inline-block;text-align:left}

.gallery-box-mail{text-align:center}

.cate_img_main {

    margin: 0 0 8px 0px;

    float: none;

    display: inline-block;

    width: 100%;

}

.cate_img_div{display: inline-block;    width: 100%;

    min-height: 40px;

    text-align: center;
padding-bottom:10px;
    padding-top: 10px;}

.ca-item{width:100%!important; text-align:center}

.banner-left{width:92%; max-width:590px; height:inherit; padding:20px 4%}

.rounded-box a{width:100%;}

.rounded-box a.describe-box, .rounded-box a.photo-box {

    margin-left: 0px!important;

    margin-top: 15px;

}

.banner-left.banner-left-mobile{

    background: url(../images/banner-left-02.jpg) bottom right no-repeat;

    border-radius: 15px;

    background-size: auto 100%;

    margin-bottom: 20px;

    max-width: 390px;

    margin: 0 auto 20px;

    float: none;

    display: inline-block;

    text-align: left;

}

.phone-marign, .descibe-margine, .rounded-box a span {

    margin-top: 39px!important;

    margin-left: 7px!important;

}

.rounded-box a strong {

    width: 100%;

    float: left;

}

.registration_left{text-align:center}

.right_fb_reg, .input_div, .input_div.input_div_right, .input_div2, .registration_left input[type="submit"], .border_div{float:none; display:inline-block; max-width:inherit}

input[type="checkbox"] + label{float:left; text-align:left; font-size:12px;}

}

@media screen and (min-width: 680px) and (max-width: 900px){.ca-item{width:50%!important; text-align:center}}

@media screen and (max-width: 400px) {

.form-control{width:88%; padding-left:12%; border:none; font-size:14px; border:none}	

.center-box-free-ad p{font-size:16px;}

}

@media screen and (min-width: 800px) {

}

@media screen and (min-width: 420px) and (max-width: 600px) {

#ca-container{height:440px}

}

@media screen and (max-width: 380px) {	

ul.tabs li a{width:50%; text-align:center; padding:0}



}

@media screen and (max-width: 1200px) {	



}