@charset "utf-8";
/* CSS Document */
html {
	position: relative;
	-webkit-text-size-adjust:100%; -moz-text-size-adjust:100%; -ms-text-size-adjust:100%;
	min-height: 100%;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
/* footer */
body {
	margin: 0px;
	padding:0;
	font-family: 'open_sansregular';
	-webkit-text-size-adjust:100%; -moz-text-size-adjust:100%; -ms-text-size-adjust:100%;
}
.footer {
	width: 100%;
}
.clearfix {
	clear:both;
}
.pull-right {
	float:right!important;
}
input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
h1 {
	font-size:30px;
	color:#080808;
	font-family: 'open_sansbold';
}
h2 {
	font-size:30px;
	font-family: 'open_sanslight';
	color:#464646;
}
h3 {
	font-size:30px;
}
h4 {
	font-size:25px
}
h5 {
	font-size:20px
}
h6 {
	font-size:15px
}
 select::-ms-expand {
 display: none;
}
img {
	max-width:100%;
}
ul, li, ol {
	list-style:none
}
p {
	margin:0 0 17px;
	font-size:15px;
	line-height:24px;
	color:#505050;
	font-family:Helvetica, Arial, sans-serif;
}
p strong {
	color:#ce305a;
	font-weight:bold;
}
p a {
	font-weight:bold;
	color:#505050;
}
a {
	text-decoration:none;
	outline:none;
}
.main-wraper {
	margin:auto;
	width:980px;
}
.container {
	float:left;
	margin-left:10px;
	width:960px;
    background: #fff;
}
.header {
	float:left;
	margin-left:10px;
	width:960px;
}
.logo a {
    float: left;
    /* background: url(../images/logo.png) no-repeat; */
    width: 504px;
    height: 75px;
    margin-left: 1px;
    margin-top: 27px;
    text-indent: -5000px;
}
.right-top-header {
	float:right;
	width:auto;
}
.dealer-link a {
	float:right;
	color:#8f0002;
	font-family: 'open_sansregular';
	font-size:13px;
	background:url(../images/dealer-link-bg.png) right no-repeat;
	height:19px;
	line-height:15px;
	padding-right:31px;
	margin-top:9px;
	margin-right:3px;
}
.dealer-link a:hover {
	text-decoration:underline;
}
.contrey-link {
	float:right;
}
.contrey-link a {
	float:left;
	width:29px;
	text-align:center;
	height:35px;
	line-height:35px;
	color:#8f0002;
	font-family: 'open_sansbold';
	margin-left:2px;
	font-size:13px;
}
.contrey-link a:hover {
	background:url(../images/country-bg.jpg) repeat-x;
	color:#fff;
	-webkit-border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
}
.contrey-link a.active {
	background:url(../images/country-bg.jpg) repeat-x;
	color:#fff;
	-webkit-border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
}
.submit-box {
	float:right;
	margin-top:15px;
}
.submit-box p {
	color:#900006;
	font-size:25px;
	font-family: 'open_sanslight';
	float:left;
	margin-top:6px;
}
.submit-box p strong {
	font-family: 'open_sansbold';
	color:#900006;
}
.free-aad a {
    float: left;
    /* background: url(../images/free-aad.png) no-repeat; */
    width: 159px;
    height: 40px;
    color: #ED1B24;
    font-family: 'open_sansbold';
    font-size: 15px;
    line-height: 38px;
    /* padding-left: 34px; */
    text-align: center;
    margin-left: 360px;
    /* margin-right: 221px; */
    margin-top: 17px;
}
.free-aad a:hover {
	color: #900006;
}
/* Header End */
.red-greadint {
	margin:auto;
	width:100%;
	height:10px;
	/*background:url(../images/red-gradient.jpg) repeat-x;*/
	margin-top:8px;
	padding-top:15px;
}
.city-box {
	float:left;
	width:155px;
	margin-right:43px;
}
.form-control {
	width:100%;
	height:38px;
	background:#FFF;
	border-radius:5px;
	border:0;
	font-family: 'open_sansregular';
	font-size:15px;
	outline:0;
	padding-left:30px;
	line-height:30px!important;
}
.city-icon {
	background:url(../images/city-icon.png) 15px 11px no-repeat #fff
}
::-webkit-input-placeholder {
color:#000000;
}
:-moz-placeholder { /* Firefox 18- */
color:#000000;
}
::-moz-placeholder {  /* Firefox 19+ */
color:#000000;
}
:-ms-input-placeholder {
color:#000000;
}
.search-icon {
	background:url(../images/search-icon.png) 15px 11px no-repeat #fff;
	padding-left:35px;
	border-radius:0;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-right:1px solid #7f7f7f
}
.search-box {
	float:left;
	width:387px;
}
.category-box {
	float:left;
	margin-left:37px;
	width:121px;
}
.category-box select {
	-webkit-appearance: none;
	appearance:none;
	background:url(../images/cate-icon01.jpg) right no-repeat #fff;
	font-family: 'open_sanssemibold';
	font-size:15px;
	color:#000000;
	height:40px;
	border:0;
	outline:0;
	width:100%;
	float:left;
	padding-left:10px;
	font-size:13px;
}
.search-btn a {
	float:left;
	width:86px;
	background:url(../images/serach-bg.jpg) repeat-x;
	height:40px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	text-align:center;
	color:#fff;
	font-family: 'open_sansbold';
	text-transform:uppercase;
	line-height:40px;
	font-size:15px;
}
.search-btn a:hover {
	color: #900006;
}
.search-advnce a {
	float:right;
	color:#FFF;
	font-family: 'open_sansbold';
	font-size:13px;
	border-bottom:1px solid #fff;
	margin-top:12px;
}
.search-advnce a:hover {
	border:0;
}
.banner {
	/*background:url(../images/banner.jpg) center no-repeat;*/
	width:100%; /*height:343px;*/
	padding:38px 0;
	float:left
}
.banner-left {
	float:left;
	/*background:url(../images/banner-left-01.png) no-repeat;*/
	width:590px;
	height:286px;
	padding:16px 20px 0 20px;
}
.selling-heaing {
	margin-left:8px;
}
.gallery-box-mail {
	float:left;
	width:590px;
	margin-top:19px;
}
.rounded-box a {
	float:left;
	width:200px;
	color:#000;
	font-family: 'open_sansregular';
	font-size:15px;
	display: inline-block;
	position: relative;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	margin-left:2px;
}
.rounded-box a img {
	float:left;
}
.rounded-box a span {
	float:left;
	margin-top:29px;
	margin-left:7px;
}
.rounded-box a strong {
	font-family: 'open_sansbold'!important;
}
.rounded-box a:hover {
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
}
.describe-box {
	margin-left:79px!important;
	margin-top:1px;
}
.photo-box {
	position:relative;
	margin-left:142px!important;
	margin-top:-24px;
}
.descibe-margine {
	margin-top:21px!important;
	margin-left:12px!important;
}
.phone-marign {
	margin-top:65px!important;
	margin-left:5px!important
}
.free-ad-margin {
	margin-top:38px;
	float:right!important;
}
.img-ad-box {
	float:right;
	width:300px;
}
.featured-border {
	width:100%;
	background:url(../images/Featured-border.jpg) 100% 23px repeat-x;
	margin-top:38px;
	margin-left:-2px;
}
.featured-border span {
	background:#000;
	padding-right:10px;
}
.featured-icon {
	margin:auto;
	left:0;
	right:0;
	position:absolute;
	top:142px;
    z-index: 999;
}
.product-title {
	text-align:center;
	margin-top:29px;
	float:left;
	width:100%;
	font-size:18px;
	color:#000000;
	font-family: 'open_sanssemibold';
}
.product-price {
	margin:auto;
	width:92px;
	height:32px;
	margin-top:61px;
}
.product-price a {
	float:left;
	text-align:center;
	background:#5c5c5c;
	width:95px;
	height:34px;
	line-height:34px;
	font-size:13px;
	text-transform:uppercase;
	font-family: 'open_sansbold';
	border-radius:5px;
	color:#fff;
}
.col-md-4 {
	float:left;
	width:299px;
	background:#f8f8f8 url(../images/gallery-bg.jpg) top center repeat-x;
	/*height:315px;*/
	padding-bottom:25px;
}
.browse-categories {
	margin:auto;
	width:100%;
	/*background:url(../images/brows-cate-bg.jpg) center no-repeat;*/
	height:527px;
}
.color-text-white {
	color:#fff;
}
.browse-cate-margine {
	margin-top:33px;
	width:878px;
}
.view-all-btn a {
	float:right;
	background:url(../images/view-all-bg.png) no-repeat;
	width:76px;
	height:23px;
	margin-top:46px;
	margin-right:-2px;
	color:#fff;
	font-size:14px;
	line-height:23px;
	font-family: 'open_sansregular';
	text-indent:8px;
}
.row {
	float:left;
	margin-left:-29px;
	width:990px;
}
.col-cate-md-4 {
	float:left;
	width:299px;
	height:240px;
	margin-top:47px;/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ececec+100 */
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #ececec 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #ececec)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #ececec 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #ececec 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #ececec 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%, #ececec 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ececec', GradientType=0 ); /* IE6-9 */
	border:1px solid #e5e5e5;
	margin-left:29px;
}
.item-icon-2 {
	float:left;
	width:100%;
	/*background:url(../images/home.png) center no-repeat;*/
	height:51px;
	margin-top:-25px;
    text-align: center;
}
.col-cate-md-4 h3 {
	font-size:20px;
	color:#000;
	font-family: 'open_sanssemibold';
	margin-top:30px;
	width:100%;
	text-align:center;
}
.col-cate-md-4 ul {
	float:left;
	list-style:none;
	padding:0;
	width:100%;
	margin-top:19px;
}
.col-cate-md-4 ul li a {
	width:100%;
	text-align:center;
	float:left;
	color:#6a6a6a;
	font-size:14px;
	font-family: 'open_sansregular';
	line-height:25px;
}
.col-cate-md-4 ul li a:hover {
	color:#8f0002
}
.vehicles {
	background:url(../images/Mercedes-icon.png) center no-repeat;
}
.services {
	background:url(../images/Plumbing-icon.png) center no-repeat;
}
.electronics {
	background:url(../images/Lenovo-icon.png) center no-repeat;
}
.book {
	background:url(../images/book.png) center no-repeat;
}
.beauty {
	background:url(../images/Beauty.png) center no-repeat;
}
ul.tabs {
	float:left;
	width:100%;
	list-style:none;
	padding:0;
	height:53px;
	margin-top:53px;
	background:url(../images/border1px.jpg) 0 46px repeat-x;
	margin-bottom:23px;
}
ul.tabs li a {
	float:left;
	color:#5c5c5c;
	font-size:23px;
	font-family: 'open_sansregular';
	padding:0 0px;
	background:url(../images/tabs-bg.png) top center no-repeat;
	height:53px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px;
	line-height:46px;
	width:100%;max-width:225px; text-align:center
}
ul.tabs li a:hover {
	background-position:bottom;
	color:#fff;
}
html ul.tabs li.active, html ul.tabs li.active a {
	background-position:bottom;
	color:#fff;
}
.bg-none {
	background:none;
	border:0;
	margin-top:0;
	margin-bottom:78px;
}
.featured-icon-tabs {
	position:absolute;
	width:50px;
	margin-top:140px;
	width:299px;
    z-index: 999;
}
.bottom-col {
    margin: auto;
    width: auto;
    /* background: url(../images/footer-bg.jpg) center no-repeat; */
    margin-top: 57px;
    /* margin-left: 750px; */
    background-position-y: -1012px;
    background-image: url(../images/screens/home1.jpg);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}
.center-box-free-ad {
	margin:auto;
	background:url(../images/ad-center-bg.png) center bottom no-repeat;
	width:380px;
	height:118px;
	margin-top:43px;
}
.center-box-free-ad p {
	font-size:18px;
	font-family: 'open_sanssemibold';
	color:#e3e3e3;
	text-align:center;
	line-height:30px;
}
.center-box-free-ad p strong {
	font-family: 'open_sansbold';
	color:#fff;
}
.center-box-free-ad p span {
	font-size:25px;
	font-weight:normal!important;
	font-family: 'open_sansregular';
	margin-bottom:2px ;
	display:inline-block
}
.free-ad-center-btn {
	/*margin-left:93px!important;*/
	margin-top:6px;
}
.col-md-6 {
	float:left;
	width:50%;
	margin-top:110px;
}
.font-succses {
	font-size:13px;
	line-height:18px;
	color:#fff;
	font-family: 'open_sansregular';
}
.font-succses span {
	font-size:17px;
	color:#ed1f24;
}
.mail-field {
	float:left;
	color:#ffffff;
	font-size:13px;
	font-family: 'open_sansregular';
	background:none;
	border:1px solid #414141;
	border-right:0;
	text-indent:15px;
	width:158px;
	height:33px;
	line-height:33px;
	outline:0;
}
.left-box-field {
	float:left;
	width:230px;
}
.submit-btn a {
	float:left;
	width:66px;
	height:37px;
	background:#ed1f24;
	color:#fff;
	text-align:center;
	font-family: 'open_sansbold';
	line-height:37px;
	font-size:12px;
}
.submit-btn a:hover {
	background:#000;
}
.submit-btn input[type="submit"] {
    float:left;
    width:66px;
    height:37px;
    background:#ed1f24;
    color:#fff;
    text-align:center;
    font-family: 'open_sansbold';
    line-height:37px;
    font-size:12px;
    border: none;
}
.submit-btn input[type="submit"]:hover {
    background:#000;
}
.font-11px {
	font-size:11px;
	color:#acacac;
	margin-top:5px;
	float:left;
}
.socail-link-box {
	float:left;
	width:110px;
	margin-left:35px;
}
ul.social-media {
	float:left;
	width:100%;
	list-style:none;
	padding:0;
	margin-top:-10px;
}
ul.social-media li a {
	float:left;
	width:22px;
	height:22px;
	background:url(../images/social-link.png) 0 0 no-repeat;
	margin-right:5px;
	display: inline-block;
	position: relative;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}
ul.social-media li a.gplus {
	background-position:-28px 0!important;
}
ul.social-media li a.linkdin {
	background-position:-55px 0!important;
}
ul.social-media li a.twiter {
	background-position:-82px 0!important;
}
ul.social-media li a:hover {
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
}
.grey-text {
	color:#898989!important;
	font-size:18px!important;
	font-family: 'open_sanslight';
	line-height:24px;
}
.font-14px {
	font-size:14px;
	font-family: 'open_sanslight';
	color:#898989;
	line-height:21px;
}
.font-14px a {
	color:#ed1f24;
	font-family: 'open_sansregular';
}
.font-14px a:hover {
	text-decoration:underline;
}
.copy-right {
	float:left;
	width:100%;
	margin-top:38px;
	color:#898989;
	font-size:14px;
	font-family: 'open_sansregular';
}
.copy-right span {
	color:#ed1f24;
}
/*--------------------------About us page-------------------------------*/
.pages {
	margin:15px 0 35px;
	width:100%;
	display:inline-block;
	vertical-align:top;
    min-height: 710px;
}
.breadcrumbs {
	width:100%;
	float:left;
	margin:0;
	padding:0
}
.breadcrumbs li {
	float:left;
	color:#464646;
	font-size:13px;
	text-transform:capitalize
}
.breadcrumbs li a {
	color:#ed1f24;
	background:url(../images/arrow-left.png) center right no-repeat;
	padding-right:10px;
	margin-right:8px;
}
.page_heading {
	color:#8f0004;
	font-size:21px;
	width:100%;
	padding:3px 0 15px;
	border-bottom:1px solid #cccccc;
	font-family: 'open_sansbold';
	font-weight:normal;
	margin-bottom:30px;
	float:left
}
.heading_h1_aboutbold {
	width:100%;
	text-align:center;
	font-size:48px;
	color:#464646;
	font-family: 'open_sansbold';
	display:inline-block;
	vertical-align:top
}
.heading_h1_about {
	width:100%;
	text-align:center;
	font-size:48px;
	color:#464646;
	font-weight:normal;
	font-family: 'open_sanslight';
	line-height:55px;
	margin-bottom:40px;
}
.about_img {
	text-align:center;
	width:100%;
	display:inline-block;
	vertical-align:top;
	margin-bottom:50px;
}
.about_img img {
	display:inline-block;
	vertical-align:top;
	margin:0 10px;
}
.about_left {
	width:100%;
	float:left;
	max-width:450px;
}
.about_right {
	width:100%;
	float:right;
	max-width:450px;
}
.about_left p, .about_right p {
	color:#6a6a6a;
	font-size:14px;
	line-height:20px;
}
.about_left p strong, .about_right p strong {
	color:#6a6a6a;
}
.leadership_h1 {
	font-size:48px;
	color:#464646;
	width:100%;
	text-align:center;
	vertical-align:top;
	margin-top:40px;
	font-family: 'open_sansbold';
}
.leadship_div {
	width:100%;
	text-align:center;
	display:inline-block;
	vertical-align:top;
	margin-top:20px;
}
.leadship_div ul {
	width:100%;
	display:inline-block;
	vertical-align:top;
}
.leadship_div li {
	float:left;
	width:25%;
	text-align:center;
	font-size:14px;
	color:#6a6a6a;
}
.leadship_div li strong {
	width:100%;
	text-align:center;
	display:inline-block;
	vertical-align:top;
	font-family: 'open_sansbold';
	color:#000;
	font-size:18px;
	margin-top:12px;
}
.support_div_email {
	width:100%;
	text-align:center;
	display:inline-block;
	vertical-align:top;
	margin-top:50px;
	font-family: 'open_sansbold';
	font-size:36px;
	border-top:1px solid #ccc;
	padding-top:40px;
}
.support_div_email h3 {
	font-family: 'open_sanslight';
	color:#ed1f24;
	font-size:46px;
}
.support_div_email h3 a {
	color:#ed1f24;
}
/*----------------------List page-------------------------------*/
.banner-list-search {
    float: left;
    background: url(../images/productsearch.png) no-repeat;
    width: 901px;
    padding: 16px 30px 0;
    border-radius: 15px;
    padding-bottom: 25px;
}
.banner-list-search h1 {
	color:#8f0004;
	border-bottom:1px solid #ccc;
	padding-bottom:20px;
	margin-bottom:10px;
	font-size:25px;
	margin-left:0
}
.banner.list-banner {
	padding-bottom:50px;
}
.list_breadcrum {
	width:100%;
	float:left;
	margin:0;
	padding:0
}
.list_breadcrum li {
	float:left;
	color:#6a6a6a;
	font-size:14px;
	text-transform:capitalize;
	background:url(../images/arrow-left.png) right 8px no-repeat;
	padding-right:10px;
	margin-right:8px;
}
.list_breadcrum li:last-child {
	background:none
}
.list_breadcrum li a {
	color:#6a6a6a;
}
.list_breadcrum li span {
	color:#000;
}
.list_category {
	width:100%;
	float:left;
	border-bottom:1px solid #ccc;
	padding-bottom:15px;
	margin-bottom:15px;
	margin-top:3px;
}
.list_category li {
	float:left;
	color:#6a6a6a;
	font-size:14px;
	text-transform:capitalize;
	width:20%;
	margin-top:5px;
}
.list_category li a {
	color:#6a6a6a;
}
.list_category li a:hover, .list_breadcrum li a:hover {
	color:#8f0004;
}
.banner-list-search input {
	background:#fff;
	padding:12px 10px;
	border:1px solid #ccc;
	border-radius:5px;
	margin-right:5px;
    width: 80%;
}
.banner-list-search input[type="submit"] {
    background: url(../images/serach-bg.jpg) repeat-x;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}
.banner-list-search input::-webkit-input-placeholder {
color:#464646;
}
.banner-list-search input:-moz-placeholder { /* Firefox 18- */
color:#464646;
}
.banner-list-search input::-moz-placeholder {  /* Firefox 19+ */
color:#464646;
}
.banner-list-search input:-ms-input-placeholder {
color:#464646;
}
.width_260 {
	width:230px;
}
.width_160 {
	width:92px;
}
.banner-list-search input.margin_right {
	margin-right:15px;
}
.banner-list-search input.margin_none {
	margin-right:0
}
.pages_left {
	width:100%;
	float:left;
	max-width:630px;
}
.pages_right {
	width:100%;
	float:right;
	max-width:300px;
}
.margin_bottom {
	margin-bottom:25px;
}
.product_list {
	display:block;
	padding:28px 30px 15px;
	border:1px solid #ccc;
	border-radius:15px;
	background:url(../images/product_list_bg.jpg) bottom repeat-x;
	margin-bottom:20px;
}
.product_image {
	float:left;
	position:relative;
	width:100%;
	max-width:250px;
}
.count_images {
	position:absolute;
	left:20px;
	bottom:20px;
	padding:6px;
	border-radius:3px;
	background:#464646;
	font-family: 'open_sanslight';
	font-style:italic;
	color:#ebebeb;
	font-size:12px;
	line-height:12px;
	min-width:65px;
}
.product_deatils {
	float:right;
	width:100%;
	max-width:298px;
}
.product_deatils h1 {
	color:#8f0004;
	font-size:25px;
	text-transform:uppercase;
	line-height:19px;
}
.product_deatils h2, .product_deatils h2 a{
	color:#000;
	font-size:18px;
	line-height:26px;
	font-family: 'open_sansbold';
	margin:5px 0 16px;
}
.product_feature {
	float:left;
	width:100%;
}
.product_feature.border_li_none li {
	margin-bottom:0px;
	border-bottom:0px solid #ccc;
}
.product_feature li {
    float: left;
    width: 47%;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    color: #6a6a6a;
    margin-right: 3%;
}
.product_feature li.float_right {
	float:right
}
.product_feature li span {
    color: #242323;
    padding-left: 5px;
}
.product_feature li span a{color: #242323;}
.product_location {
	width:100%;
	clear:both;
	font-size:12px;
	color:#464646;
	display:inline-block;
	margin-top:10px;
}
.product_location span {
	background:url(../images/location.png) left 0px no-repeat;
	padding-left:15px;
	float:left;
	padding-right:4px;
}
.product_location ul {
	float:left
}
.product_location ul li {
	float:left;
	padding-right:14px;
	margin-right:8px;
	background:url(../images/arrow-left1.png) center right no-repeat;
}
.product_location ul li:last-child {
	padding-right:0px;
	margin-right:0px;
	background:none
}
.pagination_div {
	width:100%;
	text-align:center;
	display:inline-block;
	vertical-align:top;
	margin-top:30px
}
.pagination_div ul {
	display:inline-block;
	vertical-align:top
}
.pagination_div ul li {
	float:left;
	margin:0 10px;
}
.pagination_div ul li a {
	color:#6a6a6a;
	font-size:14px;
	display:inline-block
}
.pagination_div ul li a:hover {
	color:#8f0004;
	text-decoration:underline
}
.pagination_div ul li.active_li a {
	color:#8f0004;
	font-family: 'open_sansbold';
	text-decoration:underline;
}
.pagination_div ul li.prev_li a {
	text-indent:-99999px;
	width:12px;
	height:12px;
	background:url(../images/pro_prev.png) center no-repeat;
	margin-top:7px;
}
.pagination_div ul li.next_li a {
	text-indent:-99999px;
	width:12px;
	height:12px;
	background:url(../images/pro_next.png) center no-repeat;
	margin-top:7px;
}
.pagination_div ul li.prev_li a, .pagination_div ul li.next_li a {
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}
.pagination_div ul li.prev_li a:hover, .pagination_div ul li.next_li a:hover {
	-webkit-transform: translateY(-3px);
	transform: translateY(-3px);
}
/*----------------------registration page---------------------------------*/
.page_heading2 {
	color:#000;
	font-size:20px;
	width:100%;
	padding:0px 0 20px;
	font-family: 'open_sansbold';
	font-weight:normal;
	float:left
}
.page_heading2 span {
	color:#ed1f24;
}
.registration_right {
	display:inline-block;
	padding:35px 25px;
	background:url(../images/registration_left.png) left top no-repeat;
	width:250px;
	min-height:216px;
}
.registration_right h3 {
	font-family: 'open_sansbold';
	color:#fff;
	font-size:20px;
}
.registration_right ul {
	margin-top:15px;
}
.registration_right ul li {
	background:url(../images/icon.png) left 5px no-repeat;
	padding-left:20px;
	color:#fff;
	font-family: 'open_sansregular';
	font-weight:400;
	font-size:16px;
	margin-bottom:8px;
	line-height:26px;
}
.registration_left {
	display:block;
	background:#f7f7f7;
	border:1px solid #ccc;
	border-radius:15px;
	padding:40px 20px;
}
.registration_left h2 {
	color:#000;
	font-size:20px;
	font-weight:600;
	margin-bottom:10px;
}
.right_fb_reg {
	float:right;
	font-size:12px;
	float:right;
	width:275px;
	color:#464646;
	margin-top:10px;
	font-weight:400
}
.right_fb_reg span, .right_fb_reg a {
	color:#ed1f24;
}
.or_div {
	display:block;
	margin:20px 0 10px;
	background:url(../images/or.png) center repeat-x;
	height:23px;
	text-indent:-99999px;
}
.requried_span {
	font-size:12px;
	color:#ed1f24;
	font-family: 'open_sansregular';
	width:100%;
	clear:both;
	float:left;
	font-weight:400
}
.input_div {
	float:left;
	max-width:275px;
	width:100%;
	margin-top:8px;
}
.input_div2 {
	float:left;
	width:100%;
	margin-top:10px;
}
.input_div input {
	background:#fff;
	padding:12px 10px;
	border:1px solid #ccc;
	border-radius:5px;
	display:block;
	width:100%;
	max-width:253px;
}
.input_div2 input {
	background:#fff;
	padding:12px 10px;
	border:1px solid #ccc;
	border-radius:5px;
	display:block;
	width:100%;
	max-width:566px;
}
.input_div2 textarea {
	background:#fff;
	padding:12px 10px;
	border:1px solid #ccc;
	border-radius:5px;
	display:block;
	width:100%;
	max-width:566px;
	font-size:15px;
	font-family: 'open_sanslight';
	min-height:100px;
}
.input_div select, .input_div2 select {
	background:#fff;
	padding:12px 10px 10px;
	border:1px solid #ccc;
	border-radius:5px;
	display:block;
	width:100%;
	-webkit-appearance: none;
	-ms-appearance: none;
	float:left;
	/*max-width:583px;*/
	background-image: url(../images/select.png);
	background-position: right center;
	background-repeat: no-repeat;
    padding-right: 22px;
}
.input_div.input_div_right {
	float:right
}
.input_div label, .input_div2 label {
	font-size:15px;
	color:#464646;
	margin-bottom:5px;
	display:inline-block;
	width:100%;
}
.input_div2 label span {
	float:right;
	font-size:12px;
	margin-right:2px;
}
.input_div select.days {
	max-width:70px;
	margin-right:10px;
}
.input_div select.months {
	max-width:105px;
	margin-right:10px;
}
.input_div select.years {
	max-width:80px;
}
.border_div {
	width:100%;
	height:1px;
	background:#ccc;
	margin:20px 0;
	float:left
}
.registration_left input[type="checkbox"] {
	display:none
}
.registration_left input[type="checkbox"] + label {
	display: inline-block;
	color:#6a6a6a;
	font-size: 14px;
	margin-right: 20px;
	cursor: pointer;
	background: url(../images/check_box.png) left top no-repeat;
	padding-left: 35px;
	line-height: 25px;
	margin-top: 4px;
	margin-bottom: 2px;
}
input[type="checkbox"]:checked + label {
	background: url(../images/check_box.png) left -100px no-repeat;
}
.reg_term {
	font-size:12px;
	color:#6a6a6a;
	width:100%;
	float:left;
	margin-top:15px;
}
.reg_term a {
	color:#ed1f24;
}
.registration_left input[type="submit"] {
	background:url(../images/registration_button.png) no-repeat;
	width:90px;
	height:40px;
	text-align:center;
	float:left;
	border:none;
	font-family: 'open_sansbold';
	color:#fff;
	font-size:15px;
}
/*------------------------Login Page-------------------------------*/
.registration_fb_login {
	background:#f7f7f7;
	border:1px solid #ccc;
	border-radius:12px;
	padding:20px 20px;
	float:left;
	width:100%;
	max-width:250px;
	min-height:268px;
	color:#000
}
.registration_or {
	background:url(../images/or_login.png) center no-repeat;
	width:22px;
	margin-top:140px;
	float:left;
	height:20px;
	margin-left:11px;
}
.registration_login {
	background:#f7f7f7;
	border:1px solid #ccc;
	border-radius:12px;
	padding:20px 20px;
	float:right;
	width:100%;
	max-width:250px;
	min-height:268px;
	color:#000
}
.registration_fb_login h2, .registration_login h2 {
	font-size:20px;
	font-family: 'open_sansregular';
	width:100%;
	font-weight:500
}
.registration_fb_login h2 span, .registration_login h2 span {
	color:#ed1f24;
}
.registration_fb_login label, .registration_login label {
	font-size:14px;
	color:#6a6a6a;
	float:left;
	width:100%;
	margin-top:7px;
}
.registration_fb_login label {
	font-size:13px;
}
.registration_login label a {
	float:right;
	color:#ed1f24;
}
.registration_fb_login input[type="text"], .registration_login input[type="text"], .registration_fb_login input[type="password"], .registration_login input[type="password"], .registration_login input[type="email"] {
	background:#fff;
	padding:8px 10px;
	border:1px solid #ccc;
	border-radius:5px;
	display:inline-block;
	width:100%;
	max-width:226px;
	margin:6px 0 4px;
	font-family: 'open_sansregular';
	font-size:14px;
}
.registration_login input::-webkit-input-placeholder {
color:#6a6a6a;
}
.registration_login input:-moz-placeholder { /* Firefox 18- */
color:#6a6a6a;
}
.registration_login input::-moz-placeholder {  /* Firefox 19+ */
color:#6a6a6a;
}
.registration_login input:-ms-input-placeholder {
color:#6a6a6a;
}
.registration_fb_login a {
	margin-top:5px;
	float:left
}
.registration_login input[type="submit"] {
	background:url(../images/registration_button.png) no-repeat;
	margin-top:22px;
	width:90px;
	height:40px;
	text-align:center;
	float:left;
	border:none;
	font-family: 'open_sansbold';
	color:#fff;
	font-size:15px;
}
.registration_login .reg_term {
	margin-top:12px;
}
.registration_right.registration_right_login {
	background:url(../images/registration_left1.png) left top no-repeat;
	min-height:240px;
}
/*-----------------------Submit Add-------------------------------------*/
.registration_right.registration_submit_ad {
	background:url(../images/registration_left2.png) left top no-repeat;
	min-height:340px;
}
.border_div1 {
	width:100%;
	height:1px;
	background:#fff;
	margin:10px 0 20px;
	float:left
}
.registration_right p {
	color:#fff;
	font-size:14px;
	line-height:18px;
}
.registration_right p a {
	color:#fff;
	font-size:14px;
	line-height:18px;
}
.reg_term1 {
	font-size:15px;
	color:#6a6a6a;
	width:100%;
	float:left;
	margin-top:15px;
	margin-bottom:25px;
}
.reg_term1 a {
	color:#ed1f24;
}
.registration_left input::-webkit-input-placeholder, .registration_left textarea::-webkit-input-placeholder {
color:#898989;
}
.registration_left input:-moz-placeholder, .registration_left textarea:-moz-placeholder { /* Firefox 18- */
color:#898989;
}
.registration_left input::-moz-placeholder, .registration_left textarea::-moz-placeholder {  /* Firefox 19+ */
color:#898989;
}
.registration_left input:-ms-input-placeholder, .registration_left textarea:-ms-input-placeholder {
color:#898989;
}
.registration_left .page_heading2 {
	padding-bottom:10px;
	margin-bottom:20px;
	border-bottom:1px solid #ccc
}
.select_category {
	float:left;
	width:100%;
	margin-top:15px;
}
.select_category ul {
	float:right;
}
.select_category ul li {
	float:left;
	width:65px;
	font-size:10px;
	line-height:12px;
	color:#464646;
	text-align:center;
	margin-left:10px
}
.cate_img_main {
	margin:0 0 8px 7px;
	float:left
}
.cate_img_div {
	vertical-align:middle;
	display:table-cell;
	border-radius:5px;
	border:1px solid #ccc;
	background:#fff;
	width:50px;
	height:50px;
	text-align:center;
}
.cate_img_div img {
	vertical-align:middle
}
.heading_span {
    float: left;
    margin: 15px 0px 0 34px;
}
.upload_images_ul {
	width:100%;
	float:left;
}
.upload_images_ul li {
	float:left;
	width:98px;
	height:50px;
	border-radius:5px;
	background:#898989 url(../images/upload_image.png) center no-repeat;
	position:relative;
	margin-right:24px;
	cursor:pointer
}
.upload_images_ul li.last_li {
	margin-right:0
}
.upload_images_ul li input {
	position: absolute;
	left: 0;
	z-index: 999999;
	opacity: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	cursor:pointer
}
.upload_images_ul li span {
	position:absolute; left:0;
	width:90%;
	text-align:center;
	margin-left:5%;
	top:65px;
	font-size:10px;
	color:#fff;
	line-height:12px;
}
.white_bg{background:#fff!important; padding-right:10px;}
.footer_p{margin-bottom:10px; line-height:16px;}
.footer_p span{
    margin-bottom: 4px;
    display: inline-block;
}
.col-md-aboutus.col-md-6{
    width: 49%;
    float: right;
    min-height: 185px;
}
.product_deatils.product_deatils_view{margin-top:20px;max-width:inherit; margin-bottom:15px;}
.product_image_main{display:inline-block; width:100%; vertical-align:top;}
.product_image_main img{width:100%;}
.registration_left_post_view{margin-top:25px;}
.page_content .col-cate-md-4{margin-left:28px; margin-top:25px; margin-bottom:25px; position:relative;}
.page_content .col-cate-md-4.margin_none_cate{margin-left:0}
.tab_content .col-cate-md-4{margin-left:31px;}
.hidden-categ-list {
    display: none;
}
.page_content .col-cate-md-4 ul{    position: absolute;
    left: 0;
    background: #f9f9f9; /* Old browsers */
	background: -moz-linear-gradient(top, #f9f9f9 0%, #ececec 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(100%, #ececec)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f9f9f9 0%, #ececec 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f9f9f9 0%, #ececec 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f9f9f9 0%, #ececec 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f9f9f9 0%, #ececec 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ececec', GradientType=0 ); /* IE6-9 */
padding-bottom:15px;
min-height:150px; border-bottom:1px solid #e5e5e5
}
.home-featured > a > img {  max-height: 170px;  }
.home-featured .featured-icon img {  max-width: 51px;  }
p.font-13px {  color: #ed1f24;  }
.readmore {  color: #ed1f24;  font-family: 'open_sansregular'; font-size: 14px; }
form label.error {  color: #ed1f24;  }
.alert.alert-danger {      color: #D71D22;  border: 1px solid #F09FA1;   }
.alert.alert-success {      color: green;  border: 1px solid #A3F0A3;  background-color: #CAF4CA;  }
.alert {  width: 98%;     font-size: 14px; padding: 10px;  border-radius: 5px; margin: 10px 0;}
.alert.medium {  width: 63.5%; margin: 10px 0;}
.registration_login .alert {  display: block;  width: 94.5%;  }
span.dealer-link.logout a {  background: none;  }
.registration_login.forget_pwd {
    min-height: 150px;
    float: left;
}
.registration_login.forget_pwd {
    min-height: 150px;
    float: left;
    max-width: 500px;
}
.fgt-pwd-button{
margin-left: 5px;
}
.registration_login.forget_pwd input[type="submit"] {
    margin-top: 5px;
    width: auto;
    background: url(../images/forget_button.png) right center no-repeat;
    border-radius: 5px;
    padding: 0 15px;
}
.registration_login.reset_pwd {
    min-height: 150px;
}
.registration_login.reset_pwd input {
    margin-left: 5px;
}
.registration_login.reset_pwd input[type="submit"] {
    margin-top: 5px;
    width: auto;
    background: url(../images/forget_button.png) right center no-repeat;
    border-radius: 5px;
    padding: 0 15px;
}
.registration_login.forget_pwd input[type="email"]{
    float: left;
}
.registration_login.reset_pwd input[type="password"]{
    float: left;
}
.registration_login.reset_pwd {
    min-height: 72px;
    max-width: 750px;
}
.pages_left.reset_pwd {
    max-width: 793px;
}
.cate_img_div.selected {
    border-color: #F4B54E;
    border-width: 2px;
    width: 46px;
    height: 48px;
}
.cate_img_div.selected img {
    width: 83%;
}
.preview-images {
    float: left;
    max-width: 92px;
    padding: 2px;
    position: relative;
}
button.removeImages {
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    background: url(../images/delete.jpg);
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.product-thumb-wrap {  width: 100%;  display: block;  text-align: center; }
.product-thumb-wrap img{max-height: 169px;}
.less_ul{z-index: 99999;}
.fotorama__thumb.fotorama__thumb_selected canvas {
    border: 1px solid #D35454;
    border-radius: 5px;
}
.searc-result-string h2.page_heading {
    margin-bottom: 5px;
    padding-bottom: 5px;
}
.searc-result-string .pages {
    margin-top: 20px;
}
.searc-result-string h2.page_heading {
    margin-bottom: 5px;
    padding-bottom: 5px;
    margin-top: 15px;
    font-size: 17px;
}
.post-field-col.multiple input {
    width: 30%;
    float: left;
}
.top_margin_20px{margin-top: 20px;}
.default-placeholder input::-webkit-input-placeholder {
    color:#fff;
}
.default-placeholder input:-moz-placeholder { /* Firefox 18- */
    color:#fff;
}
.default-placeholder input::-moz-placeholder {  /* Firefox 19+ */
    color:#fff;
}
.default-placeholder input:-ms-input-placeholder {
    color:#fff;
}
a:hover, input[type="button"]:hover, input[type="submit"]:hover, button:hover{cursor:pointer}
a:hover img{opacity:0.8}
.featured-icon-tabs a img,.featured-icon a img,.item-icon-2 a img{transition: transform 100ms ease 0s;  -webkit-transition: transform 100ms ease 0s;}
.featured-icon-tabs a:hover img,.featured-icon a:hover img,.item-icon-2 a:hover img{opacity:1; transform: scale(0.9);  -webkit-transform: scale(0.9);}
a.product-thumb-wrap:hover img {
    opacity:1;
    transition: scale(1.05);
    -webkit-transform: scale(1.05);
}
a.product-thumb-wrap img {
    transition: transform 200ms ease 0s;  -webkit-transition: transform 200ms ease 0s;
}

body{  background: url(../images/screens/home1.jpg) no-repeat; }
.transparent{opacity: 0;}
.opaque{opacity: 1;}
a#linkedInBtn{
    display: block;
    width: 248px;
    height: 69px;
    background: url(../images/screens/signin-button.png) no-repeat;
    background-size: 248px;
    text-indent: -100px;
    overflow: hidden;
}
.registration_fb_login a img {
    border-radius: 4px;
}
.page_content{min-height: 710px;}