/* Circular Content Carousel Style */
.ca-container{
	position:relative;
	margin:15px 0 0 1px;
	width:960px;
	height:347px;

}
.ca-wrapper{
	width:100%;
	height:100%;
	position:relative;
	margin-left:-1px;
}
.ca-item{
	position:relative;
	float:left;
	width:330px;
	height:100%;
	text-align:center;
}

.ca-close:hover{
	opacity:1.0;
}
.ca-item-main{
	padding:0 0px;
	position:absolute;
	top:5px;
	overflow:hidden;
	width:300px;



}



.ca-content ul{
	margin:20px 35px;
	height:30px;
}
.ca-content ul li{
	float:left;
	margin:0px 2px;
}
.ca-content ul li a{
	color:#fff;
	background:#000;
	padding:3px 6px;
	font-size:14px;
	font-family: "Georgia","Times New Roman",serif;
	font-style:italic;
}
.ca-content ul li a:hover{
	background:#fff;
	color:#000;
	text-shadow:none;
}
.ca-nav span{
	width:25px;
	height:38px;
	background:transparent url(../images/arrows.png) no-repeat top left;
	position:absolute;
	top:-26px;
	margin-top:-19px;
	right:37px;
	text-indent:-9000px;
	cursor:pointer;
	z-index:100;
}
.ca-nav span.ca-nav-next{
	background-position:top right;
	left:auto;
	right:2px;
}
.ca-nav span:hover{
	opacity:1.0;
}